html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: verdana,sans-serif;
	background-image: url('BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:cover !important;
	background-position: 50% 140px; 
	width:100%;
	height:100vh;
}

.wrapper{
	width:100%;
	padding:0;
	margin:0 auto;
	min-height: calc(100vh - 40px);
}
.logo img{
	width:150px;
	height:auto;
	position: fixed;
	z-index:1000;
	margin-top: 25px;
	margin-left:35px;
	top:0px;
}

p {
	font-family: 'Crimson Text', serif;
}
a {
	text-decoration: none;
}
header {
	width:100%;
	height:140px;
	background: #242424;
	display: inline-block;
	position:fixed;
	box-sizing: border-box;
	margin-right:-4px;
	top:0px;
	z-index:50;
}
.title{
	display: inline-block;
	box-sizing: border-box;
	position:fixed;
	padding-left:165px;
	padding-top:80px;
	z-index:100;
}
.title p{
	font-size:50px;
	color:white;
}
nav{
	display: inline-block;
	text-align:right;
	width:100%;
	box-sizing: border-box;
	float:right;
	padding-top:100px;
}
nav img{
	display:none;
}
nav ul li{
	display: inline-block;
	padding-right:30px;
}
nav ul li a{
	color:white;
	font-size:18px;
	display:block;
}
nav ul li a:hover {
	position:relative;
	top:1px;
	left:1px;
}
.fa {
	display: block !important;
}
main{
	width:100%;
	margin:0 auto;
	padding-top:140px;
}
.foto img{
	position:absolute;
	width:50px;
	bottom:20%;
}
.foto img:hover{
	position:absolute;
	bottom:20%;
	width:55px;
}

.blok{
	width:70%;
	max-width:1000px;
	background-color: rgba(0,0,0, 0.8);
	margin:0 auto;
	margin-top:30px;
	padding-bottom: 30px;
	padding-top:5px;
}
.bloknews{
	width:70%;
	max-width:1000px;
	background-color: rgba(0,0,0, 0.8);
	margin:0 auto;
	margin-top:30px;
	padding-bottom: 30px;
	padding-top:5px;
}
.blokvid{
	width:70%;
	max-width:1000px;
	height:auto;
	background-color: rgba(0,0,0, 0.8);
	margin:0 auto;
	margin-top:30px;
	padding-bottom: 30px;
	padding-top:10px;
	text-align: center;
}

.foto{
	display: inline-block;
	background-image: url('photo.jpg');
    background-repeat: no-repeat;
	background-size:cover;
	background-position:50% 50%;
    width:100%;
    height:100vh;
    position:relative;
    text-align:center;
}

main h2{
	color:white;
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	text-shadow: 1px 1px black;
	letter-spacing: 4px;
	font-family: 'Source Sans Pro', sans-serif;
}
.fotos{
	width:100%;
	margin:0 auto;
}
.news{
	width: 90%;
	margin:0 auto;
	margin-top:20px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: white;
	padding:0px 300px 0px 35px;
	box-sizing: border-box;
}
.center{
	width:100%;
	text-align: center;
}
main div .member{
	width:40%;
	display:inline-block;
	margin:0 auto;
	text-align: left
}

main p{
	color:white;
	font-size: 20px;
	text-align: left;
	padding-top: 20px;
	line-height:140%;
	font-family: 'Source Sans Pro', sans-serif;
}
.member p{
	font-size:16px;
	padding-bottom: 15px;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
}
.newsdate{
	width:60%;
	text-align:left;
	margin:0 auto;
	text-shadow: 1px 1px black;
}
.newstitle p{
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:bold;
}
.update p{
	font-size:14px;
	padding-bottom: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:left;
}
.sign p{
	font-size:12px;
	padding-bottom: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-style:italic;
	text-indent:20px;
}
.text{
	width:70%;
	margin:0 auto;
}
footer{
	height:30px;
	width:100%;
	background-color: black;
	padding-top:10px;
}
footer p{
	color:white;
	font-family: verdana,sans-serif;
	text-align: center;
	font-size: 12px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
}

@media only screen and (max-width: 1068px) {

	main div .member{
		width:100%;
		text-align:center;
	}
	.member p{
		text-align:center;
	}
	.text{
		width:80%;
	}
}

@media only screen and (max-width: 960px) {
	.blokvid{
		width:85%;
	}
	.logo img{
		margin-left:10px;
		margin-top:10px;
	}
	.title{
		padding-left:155px;
		padding-top: 35px;
	}
	nav ul{
		float:left;
		padding-left:155px;
	}
	.foto{
		background-position:50% 50%;
	}
	main div .member{
		width:100%;
		text-align:center;
	}
	.member p{
		text-align:center;
	}
	.text{
		width:80%;
	}
	.bloknews{
		width:90%;
	}
}

@media only screen and (max-width: 630px) {
	.blok{
		width:100%;
	}
	.fotos{
		width:70%;
	}
	.text{
		width:70%;
	}
	.news{
		padding: 0px 100px 0px 35px;
	}
	.blokvid{
		width:100%;
		margin-top:10px;
	}
	.videoWrapper iframe {
		left: 5%;
		width: 90%;
		height: 90%;
	}
	body{
		background-position: 50% 100px;
	}
	nav img{
		display:inline-block;
		float:right;
		margin-top:-85px;
		margin-right:5px;
		width:25px;
		z-index:150;
	}
	.menu{
		z-index:150;
	}
	nav{
		width:100%;
		padding-top:95px;
	}
	nav ul{
		display:none;
		text-align:center;
		background:white;
		padding-left:0px;
		padding-top:10px;
		margin-top:20px;
		width:100%;
		box-sizing: border-box;
		opacity:0.8;
	}
	nav ul li{
		width:100%;
		padding-bottom:20px;
	}
	nav ul li a{
		background-color: white;
		color: black;
		font-weight: bolder;
		font-size: 18px;
		opacity:0.7;
	}
	.logo img{
		margin-left:0px;
		margin-top:10px;
		margin-left:0px;
		width:100px;
	}
	.title{
		padding-left:90px;
		padding-top: 25px;
	}
	header{
		height:100px;
	}
	main{
		padding-top:100px;
	}
	.text{
		width:80%;
	}
	.member img{
		width:100%;
	}
	.newsvid{
		font-size: 24px;
		padding-top:15px;
	}
}

@media only screen and (max-width: 445px) {
	.title p{
		font-size:32px;
	}
	.text{
		width:80%;
	}

